/* You can add global styles to this file, and also import other style files */
/* Styles for both vertical and horizontal scrollbars */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ff9900;
}
 
::-webkit-scrollbar-track {
    background: #ECEDF3;
}
 
/* Styles for only horizontal scrollbar */
@media (orientation: horizontal) {
    ::-webkit-scrollbar {
        height: 6px;
        width: initial;
    }
 
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ff9900;
    }
 
    ::-webkit-scrollbar-track {
        background: #ECEDF3;
    }
}